pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.8
altgraph==0.17.4
packaging==24.2
importlib-metadata==8.7.1
zipp==3.23.1
pefile==2023.2.7; sys_platform == 'win32'
pywin32-ctypes==0.2.3; sys_platform == 'win32'
pywin32==301; sys_platform == 'win32'
